<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XBSlink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <userSettings>
    <XBSlink.Properties.Settings>
      <setting name="REG_CAPTURE_DEVICE_NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="REG_LOCAL_IP" serializeAs="String">
        <value />
      </setting>
      <setting name="REG_LOCAL_PORT" serializeAs="String">
        <value>31415</value>
      </setting>
      <setting name="REG_REMOTE_HOST" serializeAs="String">
        <value>otherhost.dyndns.org</value>
      </setting>
      <setting name="REG_REMOTE_HOST_HISTORY" serializeAs="String">
        <value />
      </setting>
      <setting name="REG_REMOTE_PORT" serializeAs="String">
        <value>31415</value>
      </setting>
      <setting name="REG_USE_UPNP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="REG_ENABLE_SPECIAL_MAC_LIST" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="REG_ONLY_FORWARD_SPECIAL_MACS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="REG_SPECIAL_MAC_LIST" serializeAs="String">
        <value />
      </setting>
      <setting name="REG_CHAT_NICKNAME" serializeAs="String">
        <value />
      </setting>
      <setting name="REG_CHAT_AUTOSWITCH" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="REG_CHAT_SOUND_NOTIFICATION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="REG_NEW_NODE_SOUND_NOTIFICATION" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="REG_CLOUDLIST_SERVER" serializeAs="String">
        <value>http://www.secudb.de/~seuffert/xbslink/cloudlist/</value>
      </setting>
      <setting name="REG_USE_CLOUDLIST_SERVER_TO_CHECK_INCOMING_PORT"
          serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="REG_CHECK4UPDATES" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="REG_NAT_ENABLE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="REG_NAT_IP_POOL" serializeAs="String">
        <value />
      </setting>
      <setting name="REG_FILTER_WELLKNOWN_PORTS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="REG_PS3_COMPAT_MODE_ENABLE" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="REG_SNIFFER_EXCLUDE_GATWAY_IPS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="REG_CHAT_NODEINFOMESSAGES" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingsUpdateNeeded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="REG_SNIFFER_FORWARD_ALL_HIGH_PORT_BROADCASTS"
          serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="REG_MINIMIZE2SYSTRAY" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="REG_PREVENT_SYSTEM_STANDY" serializeAs="String">
        <value>True</value>
      </setting>
    </XBSlink.Properties.Settings>
  </userSettings>
</configuration>
